html, body
	position: relative
	background-color: #000
	min-height: 680px
	height: 100%
	z-index: 10
	color: #fff
	+fontMain

html
	-webkit-font-smoothing: antialiased
	text-rendering: optimizeLegibility
	-webkit-text-size-adjust: none
