@font-face
	font-family: 'Exo'
	src: url('../fonts/exo2.0-thin-webfont.woff2') format('woff2'), url('../fonts/exo2.0-thin-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal

=fontExo
	font-family: 'Exo', Helvetica, Arial, sans-serif
=fontMain
	font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;