include ../blocks/_mixins.pug

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")

		meta(property="og:type", content="article")
		meta(property="og:title", content="Александр Старцев")
		meta(property="og:url", content="http://startsev.me")
		meta(property="og:site_name", content="startsev.me")

		meta(name="twitter:card", content="summary")
		meta(name="twitter:creator", content="@hypnocolor")
		meta(name="twitter:title", content="Александр Старцев")
		meta(name="twitter:description", content="Навёрстываю и перевёрстываю")
		meta(name="twitter:image", content="./assets/img/cats-share.jpg")

		link(rel="apple-touch-icon", sizes="180x180", href="./assets/img/favicon/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="./assets/img/favicon/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="./assets/img/favicon/favicon-16x16.png")
		link(rel="manifest", href="./assets/img/favicon/manifest.json")
		link(rel="mask-icon", href="./assets/img/favicon/safari-pinned-tab.svg", color="#09631d")
		link(rel="shortcut icon", href="./assets/img/favicon/favicon.ico")
		meta(name="apple-mobile-web-app-title", content="Feed the cat")
		meta(name="application-name", content="Feed the cat")
		meta(name="msapplication-config", content="./assets/img/favicon/browserconfig.xml")
		meta(name="theme-color", content="#ffffff")

		link(rel="stylesheet", href="./assets/css/main.css?v=@version@")
		block pageTitle
			title Index page

	block body
		body
