extends ../../layout/main-layout.pug

block pageTitle
	title Задание для Фанбокса

block body
	body

		.cat-page
			.cat-page__content
				form.cat-form(action="./" method="post")
					h2.cat-page__title Ты сегодня покормил кота?

					+catCard(card1)
					+catCard(card2)
					+catCard(card3)

		block scripts
			script(src="./assets/js/main.js?v=@version@")
