.cat-card
	position: relative
	overflow: hidden
	display: inline-block
	vertical-align: top
	width: 320px
	margin: 0 40px
	z-index: 20
	-webkit-tap-highlight-color: transparent
	&::before
		content: ''
		position: absolute
		left: -37px
		top: -37px
		width: 70px
		height: 70px
		z-index: 100
		transform: rotate(45deg)
	+max-screen(767px)
		display: block
		width: 280px
		margin: 0 auto 30px
	+screen(768px, 1024px)
		width: 300px
		margin: 0 20px 30px
	+max-screen(1200px)
		margin-bottom: 30px
		&._third
			display: block
			margin: 0 auto

	input[type="checkbox"]
		opacity: 0
		visibility: hidden
		width: 0
		height: 0
		position: absolute
		&:checked
			& + .cat-card__outer
				+card-background($selected-border-color, 31px)
				.cat-card__weight
					background-color: $selected-border-color
				&._hovered
					&:hover
						+card-background($selected-border-hover-color, 31px)
						.cat-card__weight
							background-color: $selected-border-hover-color
						.cat-card__heading
							display: none
							&._hidden
								display: block
			& ~ .cat-card__bottom
				&._action
					display: none !important
				&._hidden
					display: block
		&:disabled
			& + .cat-card__outer
				+card-background($disabled-color, 31px)
				cursor: default

				.cat-card__inner::before
					opacity: .5;

				& ~ .cat-card__bottom
					color: #ff6
					&._action
						display: none !important

				.cat-card__heading,
				.cat-card__details,
				.cat-card__title
					color: $disabled-color
					opacity: .5

				.cat-card__weight
					background-color: $disabled-color

	&__outer
		box-sizing: border-box
		display: block
		position: relative
		border-radius: 0 10px 10px 10px
		padding: 4px
		height: 480px
		cursor: pointer
		outline: none
		user-select: none
		+max-screen(767px)
			height: 440px
		+card-background($normal-border-color, 31px)

		&:hover
			+card-background($normal-border-hover-color, 31px)
			.cat-card__weight
				background-color: $normal-border-hover-color
			& ~ .cat-card__bottom .select-card
				color: $normal-border-hover-color
				border-color: $normal-border-hover-color

	&__inner
		+card-background($card-bg-color, 30px)
		position: relative
		padding: 20px 45px
		box-sizing: border-box
		border-radius: 0 8px 8px 8px
		height: 100%
		overflow: hidden
		z-index: 10
		color: #000
		text-align: left
		+fontMain
		&::before
			content: ''
			position: absolute
			width: 368px
			height: 360px
			left: -28px
			bottom: -92px
			background: url(../img/cat.png) no-repeat 0 0 transparent
			z-index: -1

	&__heading
		display: block
		position: relative
		font-size: 16px
		color: #666
		margin-bottom: 8px
		user-select: none
		&._hidden
			color: $selected-border-hover-color
			display: none
		+max-screen(1024px)
			font-size: 14px

	&__text
		position: relative
		&::before
			content: ''
			position: absolute
			z-index: -1
			left: -45px
			right: -44px
			top: 5px
			bottom: -50px
			+linear-gradient($card-bg-color, rgba($card-bg-color, 0))

	&__title
		font-size: 48px
		line-height: 1
		font-weight: 700
		margin: 0 0 10px
		user-select: none
		span
			font-size: 24px
			display: block
			line-height: 1.5
		+max-screen(767px)
			font-size: 30px
			span
				font-size: 20px

	&__details
		position: relative
		color: #666
		font-size: 14px
		line-height: 1.2
		p
			user-select: none
			margin: 0
		+max-screen(767px)
			font-size: 12px

	&__weight
		position: absolute
		bottom: 13px
		right: 10px
		text-align: center
		min-width: 80px
		width: auto
		height: 80px
		padding: 10px
		background-color: $normal-border-color
		border-radius: 40px
		line-height: 1
		color: #FFF
		box-sizing: border-box
		p
			font-size: 21px
			user-select: none
			margin: 0
			.digits
				font-size: 42px
				display: block

	&__bottom
		text-align: center
		font-size: 13px
		position: relative
		margin: 15px 0 0
		padding-bottom: 2px
		+fontMain
		display: none
		user-select: none
		cursor: default
		&._active
			display: block

		.select-card
			font-weight: 700
			color: $normal-border-color
			border-bottom: 1px $normal-border-color dashed
			label
				cursor: pointer
			&:hover
				color: $normal-border-hover-color
				border-bottom: 1px $normal-border-hover-color dashed