.cat-page
	position: relative
	display: flex
	justify-content: center
	align-items: center
	height: 100%
	z-index: 100
	background: url('../img/bg_pattern.png') repeat 0 0 #000
	+max-screen(1200px)
		display: block
		height: auto
		padding: 30px 0
	&:before, &:after
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 0
		height: 340px
		+linear-gradient(rgba(#000, .6), rgba(#000,0))
	&:after
		top: auto
		bottom: 0
		+linear-gradient(rgba(#000,0), rgba(#000, .6))
	&__content
		text-align: center
		font-size: 0
	&__title
		position: relative
		cursor: default
		font-size: 36px
		padding: 0 20px
		margin: 0 0 23px
		font-weight: 300
		+fontExo
		+max-screen(767px)
			font-size: 24px
			margin: 0 0 25px
			font-weight: 700