mixin catCard(cardObject)
	.cat-card
		input.cat-card__checkbox(type="checkbox", id=cardObject.id, name=cardObject.id, disabled=cardObject.disabled && "disabled")
		label.cat-card__outer(for=cardObject.id)
			.cat-card__inner
				span.cat-card__heading !{cardObject.heading}
				span.cat-card__heading._hidden !{cardObject.activeHeading}
				.cat-card__text
					h3.cat-card__title !{cardObject.title}
					.cat-card__details
						each infoItem in cardObject.info
							p !{infoItem}
				.cat-card__weight
					p 
						span.digits= cardObject.weight
						| кг
		p.cat-card__bottom._action._active Чего сидишь? Порадуй котэ, #[span.select-card #[label(for=cardObject.id) купи]].
		p.cat-card__bottom._hidden !{cardObject.bottomSelected}
		p.cat-card__bottom._disabled(class=cardObject.disabled && "_active") !{cardObject.bottomDisabled}