mixin preloader
	.preloader
		.preloader__content
			svg(width="146px" height="150px" viewBox="0 0 146 150" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
				g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
					g(transform="translate(0.000000, -1.000000)" fill-rule="nonzero")
						path(d="M145.4,92.8 C146,91.7 146,90.3 145.4,89.2 C143.8,86.5 141.4,84.4 139,82.9 L139,65.6 C142,63 144.4,59.4 145.1,55.3 C145.3,54 144.9,52.7 143.9,51.9 C142.4,50.7 140.8,49.7 139,49 L139,43 C139,32 131.7,22.8 121.6,19.9 C122.3,16.6 124,13.6 126.4,11.2 C128.7,8.9 128.7,5.1 126.4,2.7 C124.1,0.4 120.3,0.4 117.9,2.7 C113.4,7.2 110.5,12.8 109.5,18.9 L36.4,18.9 C35.4,12.8 32.5,7.1 28,2.7 C25.7,0.4 21.9,0.4 19.5,2.7 C17.2,5 17.2,8.8 19.5,11.2 C21.9,13.6 23.6,16.6 24.3,19.9 C14.3,22.8 7,32 7,43 L7,48.9 C5.2,49.6 3.6,50.5 2.1,51.8 C1.1,52.6 0.6,53.9 0.9,55.2 C1.6,59.3 3.9,63 7,65.5 L7,82.8 C4.4,84.3 2.2,86.4 0.6,89.1 C5.32907052e-15,90.2 5.32907052e-15,91.6 0.6,92.7 C2.2,95.4 4.4,97.5 7,99 L7,116.3 C3.8,118.9 1.6,122.5 0.9,126.6 C0.7,127.9 1.1,129.2 2.1,130 C3.8,131.4 5.7,132.5 7.8,133.1 C10.6,143.5 19.9,151 31,151 L115,151 C126.1,151 135.4,143.5 138.2,133.3 C140.3,132.6 142.2,131.6 143.9,130.1 C144.9,129.3 145.4,128 145.1,126.7 C144.4,122.6 142,118.9 139,116.4 L139,99.1 C141.4,97.6 143.8,95.5 145.4,92.8 L145.4,92.8 Z" id="Shape" fill="#023300")
						path(d="M115,67 L31,67 C24.4,67 19,72.4 19,79 L19,127 C19,133.6 24.4,139 31,139 L55,139 C55.5,139 56,138.9 56.5,138.9 C57.9,138.7 59.4,138.2 60.6,137.6 C62.4,136.7 64,135.2 65,133.5 C66.6,130.8 67.4,127.7 68,124.7 C68.5,122.1 68.9,119.8 69.4,116.8 C69.7,115.6 71.2,113.9 72.9,113.9 C74.6,113.9 76.1,115.6 76.4,116.8 C76.9,119.8 77.3,122.1 77.8,124.7 C78.4,127.7 79.2,130.9 80.8,133.6 C81.8,135.3 83.5,136.8 85.2,137.7 C86.4,138.3 87.9,138.8 89.3,139 C89.8,139.1 90.3,139.1 90.8,139.1 L114.8,139.1 C121.4,139.1 126.8,133.7 126.8,127.1 L126.8,79.1 C127,72.4 121.6,67 115,67 Z M31,95.4 C31,91.6 34.1,88.6 37.8,88.6 C41.6,88.6 44.6,91.7 44.6,95.4 C44.6,99.2 41.5,102.2 37.8,102.2 C34.1,102.2 31,99.2 31,95.4 Z M46,127 C41,127 37,123 37,118 C37,113 41,109 46,109 C51,109 55,113 55,118 C55,123 51,127 46,127 Z M56.3,88.4 C53.7,88.4 51.6,86.3 51.6,83.7 C51.6,81.1 53.7,79 56.3,79 C58.9,79 61,81.1 61,83.7 C61,86.3 58.9,88.4 56.3,88.4 Z M85,83.7 C85,81.1 87.1,79 89.7,79 C92.3,79 94.4,81.1 94.4,83.7 C94.4,86.3 92.3,88.4 89.7,88.4 C87.1,88.4 85,86.3 85,83.7 Z M100,127 C95,127 91,123 91,118 C91,113 95,109 100,109 C105,109 109,113 109,118 C109,123 105,127 100,127 Z M108.2,102.2 C104.4,102.2 101.4,99.1 101.4,95.4 C101.4,91.6 104.5,88.6 108.2,88.6 C112,88.6 115,91.7 115,95.4 C115,99.2 111.9,102.2 108.2,102.2 Z" id="Shape" fill="#BCCF00")
						circle(fill="#FFFFFF" cx="31" cy="43" r="12")
						circle(fill="#FFFFFF" cx="115" cy="43" r="12")
			h5.preloader__title Грузим котов…